@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: black;
  scrollbar-color: #4a5568 #2d3748;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #2d3748;
  border-radius: 6px;
}

body::-webkit-scrollbar-track {
  background-color: #4a5568;
}

.container {
  margin: auto;
  padding: 0 40px 0 40px;
}

.button-connect {
  transition: color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out;
}

.button-connect:hover::after {
  height: 90%;
}

.button-connect::after {
  content: '';
  display: block;
  width: calc(100% - 6px);
  height: 5px;
  background-color: white;
  position: absolute;
  bottom: 3px;
  left: 3px;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: -1;
}