* {
  box-sizing: border-box;
}

body {
  background-color: #333;
}

.game-screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  position: relative;
  display: inline-block;
  scale: 90%;
}

.game-container canvas {
  background-color: white;
  image-rendering: pixelated;
}

.web3button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
}

.login-container {
  position: absolute;
  top: 50%;
  right: 50%;
  border: 1px solid black;
  padding: 10px;
}