.text-message {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 36px;
    font-size: 4px;
    background: white;
    border-top: 1px solid black;
    color: black;
}

.text-message_text {
    margin: 0;
    font-size: 8px;
}

.text-message span {
    opacity: 0;
}

.text-message span.revealed {
    opacity: 1;
}

.text-message_button {
    margin: 0;
    font-size: 5px;
    padding: 0;
    -webkit-appearance: none;
    background: none;
    border: 0;
    font-family: inherit;
    cursor: pointer;

    position: absolute;
    right: 2px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text-message_button span {
    font-size: 4px
}

/* Screen Transition */
.scene-transition {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    opacity: 0;
    animation: screen-transition-fade-in 1.2s forwards;
}

.scene-transition.fade-out {
    animation: screen-transition-fade-out 1.2s forwards;
}

@keyframes screen-transition-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes screen-transition-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0
    }
}