@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  background-color: black;
  scrollbar-color: #4a5568 #2d3748;
  scrollbar-width: thin;
  font-family: "Press Start 2P", monospace;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #2d3748;
  border-radius: 6px;
}

body::-webkit-scrollbar-track {
  background-color: #4a5568;
}

canvas {
  image-rendering: pixelated;
}

.container {
  margin: auto;
  padding: 0 40px 0 40px;
}


.game-container {
  font-family: 'Pixelify Sans', sans-serif !important;
}


.button-connect {
  transition: color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out;
}

.button-connect:hover::after {
  height: 90%;
}

.button-connect::after {
  content: '';
  display: block;
  width: calc(100% - 6px);
  height: 5px;
  background-color: white;
  position: absolute;
  bottom: 3px;
  left: 3px;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  z-index: -1;
}


/* Replace Antd Font For Form */
.ant-form,
.ant-input,
.ant-select,
.ant-select-single,
.ant-select-selection-placeholder,
.ant-form-item-control-input-content {
  font-family: "Press Start 2P", monospace;
  font-size: 10px;
}


/* Game UI Modal */
.game-modal {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}